.cards {
    display: flex;
    gap: 20px;
  
    .card {
      background: white;
      padding: 20px;
      border-radius: 10px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
      .icon {
        font-size: 30px;
      }
  
      .info {
        text-align: right;
  
        h3 {
          margin: 0;
          font-size: 22px;
        }
  
        p {
          margin: 0;
          color: gray;
        }
      }
    }
  }
  